/* Regular Fonts */
@font-face {
  font-family: "Barlow";
  src: url("../fonts/barlow/Barlow-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/barlow/Barlow-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/barlow/Barlow-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/barlow/Barlow-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Italic Fonts */
@font-face {
  font-family: "Barlow";
  src: url("../fonts/barlow/Barlow-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/barlow/Barlow-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/barlow/Barlow-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/barlow/Barlow-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}


