@import "../../../sass/variables";
@import "../../../sass/animations";

a.arrow-link:hover {
  border: none;
}

.arrow-link {
  @include underline-animation($line-animation-duration, 1px, $maroon);
}

.arrow-link,
.arrow-text {
  font-weight: 600;
  text-align: right;
  display: flex;
  align-items: center;

  .more-arrow {
    width: 3em;
    height: 3em;
    margin-left: 1em;
    margin-right: -2em;
    transform: rotate(-90deg);
    position: relative;
    top: 0.1em;
  }
}
