@import '../../../node_modules/bootstrap/scss/mixins';
@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';

@import '../../sass/variables';

#project-header {
  #header-title, #category-filters {
    padding: 8%;
  }

  #header-title {
    text-align: center;
    padding-bottom: 0;

    .fa-briefcase {
      margin-bottom: 0.5em;
    }

    h1 {
      color: $maroon;
      margin-bottom: 0;
    }

    p {
      font-size: 1.1em;
      font-weight: normal;
    }
  }

  #category-filters {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    align-items: center;
    align-content: flex-start;
  }

  #category-filters::-webkit-scrollbar {
    background-color: $mint;
    height: 4px;
    border-radius: 25px;
  }

  #category-filters::-webkit-scrollbar-thumb {
    background-color: $dark-green;
    border-radius: 25px;
  }

  .category-btn {
    margin: 0.5em;
    font-size: 1em;
    white-space: nowrap;
  }
}

#project-list {
  padding: 8%;

  h3 {
    text-align: center;
    margin-bottom: 2em;

    i {
      display: block;
      margin-bottom: 0.25em;
    }
  }

  .see-more {
    display: flex;
    justify-content: center;

    button i {
      margin-left: 1em;
    }
  }
}

@include media-breakpoint-up(sm) {
  #project-header {
    #header-title, #category-filters {
      padding: 6% 4% 4% 4%;
    }

    #header-title {
      text-align: left;
    }

    #category-filters {
      flex-wrap: wrap;
      overflow: hidden;
    }
  }

  #project-list {
    padding: 5%;

    h3 {
      margin-top: -6.5%;
    }
  }
}