@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../sass/variables";

#project-body:not(.has-hero-content) .project-sub-section:nth-child(2n) {
  background-color: $off-white;
}

#project-body.has-hero-content .project-sub-section:nth-child(2n + 3) {
  background-color: $off-white;
}

#project-body {
  padding: 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $pink;

  p {
    font-weight: normal;
  }

  h3 {
    color: $dark-green;

    &.list-title {
      border-color: $dark-green;
    }
  }

  .project-sub-section {
    & > h2 > i {
      margin-right: 0.5em;
    }

    &:last-child {
      flex-grow: 1;
    }
  }

  #hero-content {
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #youtube {
    width: 100%;

    .youtube-embed {
      height: 75vw;
      max-height: 500px;
    }
  }

  .image-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scrollbar-color: &dark-green &mint;
    padding: 1em 0;

    &::-webkit-scrollbar {
      background-color: $mint;
      height: 4px;
      border-radius: 25px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $dark-green;
      border-radius: 25px;
    }

    .image-to-expand {
      flex: 0 0 60%;
      max-height: 500px;

      &:not(:last-child) {
        margin-right: 1em;
      }
    }

    .image-to-expand img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }

  #team {
    .list {
      margin-bottom: 0;
    }
  }
}

@include media-breakpoint-up(sm) {
  #project-body {
    #youtube {
      width: 90%;

      .youtube-embed {
        height: 50vw;
      }
    }

    .image-container {
      overflow-x: hidden;

      .image-to-expand {
        flex: 1 1 auto;
      }
    }

    .team-list .list,
    .technology-list {
      display: grid;
      column-gap: 1.5em;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@include media-breakpoint-up(md) {
  #project-body {
    #youtube {
      .youtube-embed {
        height: 40vw;
      }
    }

    #team {
      .list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }
}
