@import "../../sass/variables";
@import "../../sass/animations";

#main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.75rem 2rem 0.75rem 2rem;

  .nav-item {
    margin-right: 1.5rem;

    &:last-child {
      margin-right: 0;
    }
  }

  .nav-link {
    @include underline-animation(0.5s, 1px, $mint);

    color: $mint;
    font-size: 0.8em;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0;

    &:hover,
    &:focus {
      color: $red;
      border-bottom: none;
      padding-bottom: 0.5em;
    }
  }
}

#nav-logo {
  color: $mint;

  max-width: 35px;
  max-height: 35px;
}
