@import '../../../node_modules/bootstrap/scss/mixins';
@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../sass/variables';

#project-header {
  padding: 5%;

  #title-line, #image-preview {
    display: flex;
  }

  #image-preview img {
    object-fit: contain;
    object-position: center top;
    width: 100%;
  }

  #title-line {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: flex-end;

    h1 {
      display: flex;
      align-items: center;

      #id {
        color: $dark-green;
      }

      .circle-separator {
        background-color: $red;
      }

      #title-text {
        color: $maroon;
      }
    }

    p {
      font-size: 1.1em;
    }

    .project-repo, #project-tag-list, #project-links {
      font-size: 0.8em;
    }

    #project-tag-list {
      margin-bottom: 1em;
    }

    #project-links {
      width: 100%;
      display: flex;
      justify-content: center;

      .project-url {
        border: 1px solid $maroon;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  #project-header {
    #title-line {
      align-items: flex-start;
      text-align: left;

      #project-links {
        justify-content: space-between;
      }
    }

    #image-preview {
      order: 2;
    }
  }
}

@include media-breakpoint-up(md) {
  #project-header {
    .row {
      flex-direction: column;
    }


    #image-preview {
      order:-1;
    }
  }
}