@use './sass/animations';

@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

@import './sass/variables';
@import './sass/barlow';

/* Text style and sizing */
h1 {
  font-size: 2.1em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

p {
  font-size: 0.75em;
}

body {
  font-family: 'Barlow', Arial, Helvetica, sans-serif;
  font-size: 100%;
  font-weight: 500;
  color: $dark-maroon;
}

/* Background Styles */
.bg-maroon {
  background-color: $maroon;
}

.bg-dark-maroon {
  background-color: $dark-maroon;
};

.bg-pink {
  background-color: $pink;
};

.bg-mint {
  background-color: $mint;
};

.bg-off-white {
  background-color: $off-white;
};

/* Circle */
.circle-separator {
  content: '';
  display: block;
  width: 0.25em;
  height: 0.25em;
  border-radius: 50%;
  background-color: $dark-maroon;
  margin: 0 0.5em 0 0.5em;
}

/*Left-line styles*/
.left-border-title {
  position: relative;
  left: -6px;
}

.left-border-line::before {
  content: '';
  width: 20px;
  height: 0;
  border: 1.5px solid $dark-maroon;
  margin-right: 1em;
  margin-left: -1.5em;
}

/*Buttons*/
.custom-btn.btn {
  border-radius: 19px;
  background-color: #781031;
  border: 2px solid #781031;
  color: #f5d5e1;
  font-weight: 500;
}

.custom-btn.btn:hover {
  background-color: #33121c;
  color: #f5d5e1;
}

.custom-btn.btn-dark {
  background-color: transparent;
  border: 1px solid $dark-maroon;
  color: $dark-green;
}

.custom-btn.btn-dark:hover {
  background-color: $maroon;
  color: $pink;
}

.custom-btn.btn-light {
  background-color: $mint;
  border: 1px solid $dark-green;
  color: $dark-green;
}

.custom-btn.btn-light:hover {
  background-color: $dark-green;
  color: $mint;
}

.custom-btn.btn-dark:not(:disabled):not(.disabled).active {
  background-color: $dark-maroon;
  color: $mint;
  border: none;
}

.custom-btn.btn-dark:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem $red;
}

/*Links with icons*/
a {
  color: #941b41;
  transition: all 0.5s ease;
}

a:hover {
  color: #33121c;
  text-decoration: none;
  border-bottom: 1px solid $dark-maroon;
}

@mixin icon-link($color, $opposite-color) {
  color: $color;
  padding: 0.1em 0.5em;
  border: 1px solid $color;
  border-radius: 1em;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  margin-right: 1em;

  i {
    display: inline-block;
  }

  &:hover {
    color: $opposite-color;
    background-color: $color;
    text-decoration: none;
  }
}


.dark-green-link {
  @include icon-link($dark-green, $mint);
}

.dark-maroon-link {
  @include icon-link($dark-maroon, $pink);
}

/*Tags */
.project-tag {
  display: inline-block;
  background-color: $mint;
  color: $dark-green;
  padding: 0.2em 1em;
  border-radius: 0.5em 0.5em 0.5em 0;
  margin: 0;
  margin-right: 1em;
  margin-bottom: 0.5em;
  font-weight: 500;
  font-size: 0.8em;
}

@include media-breakpoint-up(sm) {
  body {
    font-size: 105%;
  }

  .left-border-line::before {
    width: 0;
    height: 20px;
    margin-left: -0.5em;
  }
}

@include media-breakpoint-up(md) {
  body {
    font-size: 110%;
  }
}

@include media-breakpoint-up(lg) {
  body {
    font-size: 115%;
  }
}

