@use "./sass/animations";

@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

@import "./sass/variables";
@import "./sass/animations";
@import "./sass/mixins";
@import "./sass/barlow";

/* Text style and sizing */
h1 {
  font-size: 2.1em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

p {
  font-size: 1em;
}

.subtitle {
  font-size: 1.1em;
  font-weight: normal;
}

body {
  font-family: "Barlow", Arial, Helvetica, sans-serif;
  font-size: 100%;
  font-weight: 500;
  color: $dark-maroon;
}

/* Background Styles */
.bg-maroon {
  background-color: $maroon;
}

.bg-dark-maroon {
  background-color: $dark-maroon;
}

.bg-pink {
  background-color: $pink;
}

.bg-mint {
  background-color: $mint;
}

.bg-off-white {
  background-color: $off-white;
}

/* Circle */
.circle-separator {
  content: "";
  display: inline-block;
  flex-shrink: 0;
  width: 0.25em;
  height: 0.25em;
  border-radius: 50%;
  background-color: $dark-maroon;
  margin: 0 0.5em 0 0.5em;
}

/*Left-line styles*/
.left-border-title {
  position: relative;
  left: -6px;
}

.left-border-line {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-border-line::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 50%;
  width: 20px;
  height: 0;
  border: 1.5px solid $dark-maroon;
}

/*Buttons*/
.custom-btn {
  margin-top: 1em;
  padding: 0.5em 1em;
  border-radius: 2em;
}

.custom-btn.btn {
  border-radius: 2em;
  background-color: #781031;
  border: 2px solid #781031;
  color: #f5d5e1;
  font-weight: 500;

  transition: all 0.25s ease-out;
}

.custom-btn.btn:hover {
  background-color: #33121c;
  color: #f5d5e1;

  transition: all 0.25s ease-out;
}

.custom-btn.btn-dark {
  background-color: $off-white;
  border: 1px solid $dark-maroon;
  color: $dark-green;

  &:hover,
  &:focus {
    background-color: $maroon;
    color: $pink;
    box-shadow: none;
  }
}

.custom-btn.btn-light {
  background-color: $mint;
  border: 1px solid $dark-green;
  color: $dark-green;
}

.custom-btn.btn-light:hover {
  background-color: $dark-green;
  color: $mint;
}

.custom-btn.btn-dark:not(:disabled):not(.disabled).active {
  background-color: $dark-maroon;
  border: 1px solid $dark-maroon;
  color: $mint;
}

.custom-btn.btn-dark:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.175rem $red;
}

/*Links with icons*/
a {
  &:not(.image-link, .nav-link, .custom-btn) {
    @include underline-animation($line-animation-duration, 1px, $maroon);
    white-space: nowrap;
  }

  color: $dark-maroon;
  transition: all 0.5s ease;

  &:hover {
    color: $maroon;
    text-decoration: none;
  }
}

a.image-link:hover {
  border-bottom: none;
}

@mixin icon-link($color, $opposite-color) {
  color: $color;
  padding: 0.1em 0.5em;
  border: 1px solid $color;
  border-radius: 1em;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  margin-right: 1em;

  i {
    display: inline-block;
  }

  &:hover {
    color: $opposite-color;
    background-color: $color;
    text-decoration: none;
  }
}

.dark-green-link {
  @include icon-link($dark-green, $mint);
}

.dark-maroon-link {
  @include icon-link($dark-maroon, $pink);
}

/*Tags */
.project-tag {
  @include bubble(0.2em 1em, 0.5em, bottom-left, $mint, none);
  display: inline-block;
  margin: 0;
  margin-right: 1em;
  margin-bottom: 0.5em;
  font-weight: 500;
  font-size: 0.8em;
  color: $dark-green;
}

/* Bubbles */
.dark-maroon-bubble {
  @include bubble(
    1em,
    1.5em,
    bottom-right,
    transparent,
    1px solid $dark-maroon
  );
}

.dark-green-bubble {
  @include bubble(1em, 1.5em, bottom-right, transparent, 1px solid $dark-green);
}

@include media-breakpoint-up(sm) {
  body {
    font-size: 105%;
  }

  .left-border-line::before {
    width: 0;
    height: 100%;
    top: 0;
    left: -20px;
  }
}

@include media-breakpoint-up(md) {
  body {
    font-size: 110%;
  }
}

@include media-breakpoint-up(lg) {
  body {
    font-size: 115%;
  }
}
