@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../sass/variables";

#project-header {
  display: flex;
  flex-direction: column;
  padding: 8%;

  #image-preview img {
    object-fit: contain;
    object-position: center top;
    width: 100%;
  }

  #title-line {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      display: flex;
      align-items: center;

      #id {
        color: $dark-green;
      }

      .circle-separator {
        background-color: $red;
      }

      #title-text {
        color: $maroon;
      }
    }

    p {
      text-align: center;
    }

    #project-tag-list {
      margin-bottom: 1em;

      p:last-child {
        margin-right: 0;
      }
    }

    #project-links {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      a {
        font-weight: 600;
        text-align: center;

        &:not(:last-child) {
          margin-right: 1em;
        }
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  #project-header {
    flex-direction: row;
    justify-content: space-between;

    #image-preview {
      flex-basis: 70%;
    }

    #title-line {
      margin-right: 2em;
      align-items: flex-start;

      p {
        text-align: left;
      }

      #project-links {
        margin-top: 2em;
        justify-content: flex-start;
      }
    }

    #image-preview {
      order: 2;
    }
  }
}

@include media-breakpoint-up(md) {
  #project-header {
    #image-preview {
      flex-basis: 50%;
    }
  }
}

@include media-breakpoint-up(lg) {
  #project-header {
    justify-content: flex-start;
    flex-direction: column;

    #image-preview {
      flex-basis: auto;
      order: -1;
    }

    #title-line {
      #project-links {
        margin-top: 1em;
      }
    }
  }
}
