@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../sass/variables";

#project-page {
  display: flex;
  flex-direction: column;
  background-color: $off-white;
}

@include media-breakpoint-up(md) {
  #project-page {
    flex-direction: row;
    align-items: stretch;
  }

  #project-header {
    width: 40%;
  }

  #project-body {
    width: 60%;
  }
}
